$main-bg-color: #EEEEEE;

$header-bg-color: #212121;
$header-link-color: #EEEEEE;
$header-logo-shadow-color: #A6FE92;
$header-logo-color: #00B0C8;

$form-bg-color: #cfd1ce;
$form-label-color: #00B0C8;
$form-button-color: #A6FE92;
$form-button-border-color: #A6FE92;
$form-button-border-bg-color: #00B0C8;

$results-bg-color: #cfd1ce;

$details-bg-color: #cfd1ce;
$details-title-color: #00B0C8;
$details-title-shadow-color: #A6FE92;

$footer-bg-color: #212121;
$footer-color: #EEEEEE;