.form{
    align-self: flex-start;
    background-color: $form-bg-color;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    
    @include mq(tablet,max){
        width: 100%;
    }
    

    &__label{
        display: block;
        margin-bottom: 10px;
        color: $form-label-color;
        font-weight: 600;
    }

    &__input, &__select{
        width: 100%;
        padding: 7px;
        outline: none;
    }

    &__button{
        float: right;
        padding: 10px 15px;
        border-radius: 5px;
        border: 2px solid $form-button-border-color;
        color: $form-button-color;
        font-weight: 600;
        background-color: $form-button-border-bg-color;
        cursor: pointer;
    }
}